*
!material_database/
!LaserSim/
!LaserSim/material_database/*/
!examples/
!.md
!.gitignore
!.gitmodules
!.gitattributes
!*.py 
!*.ipynb
!*.txt
!*.json
!*.csv
!*.dat

# all subfolders in material_database
!material_database/*
!material_database/*/*
material_database/plots/*
output/