*
!material_database/
!LaserSim/
!LaserSim/material_database/*/
!LaserSim/spectral_losses_TSF/
!LaserSim/spectral_losses_TSF/**
!examples/
!.md
!.gitignore
!.gitmodules
!.gitattributes
!*.py 
!*.ipynb
!*.txt
!*.json
!*.csv
!*.dat

# all subfolders in material_database
output/